body{
    background-color: red;
}
/* @media (width<=400px){
    body{
        background-color: green;
    }
} */
/* @media (orientation:portrait){
    body{
        background-color: yellow;
    }
} */
 @media (min-width:400px) and (max-width:800px){
    body{
        background-color: gold;
    }
}